
<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <!-- Champ Email avec data-cy -->
        <mat-form-field fxFlex>
          <input matInput placeholder="Email" formControlName="email" data-cy="email">
        </mat-form-field>

        <!-- Champ Password avec data-cy -->
        <mat-form-field fxFlex>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"
                 formControlName="password" data-cy="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

      <!-- Bouton Submit avec data-cy -->
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" data-cy="submit-button">
        Submit
      </button>

      <p *ngIf="onError" class="error" data-cy="error-message">An error occurred</p>
    </form>
  </mat-card>
</div>
